.scoreboard-table {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border-collapse: collapse;
}

.scoreboard-table th,
.scoreboard-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.scoreboard-table th {
  background-color: none;
  color: var(--color-neutral-text);
}

.friend-section {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

.friend-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.friend-form button {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--color-neutral-text);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
}

.friend-form button:hover {
  background-color: var(--color-blue-300);
}

.logout-btn {
  padding: 8px 16px;
  background-color: #ff4444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.logout-btn:hover {
  background-color: #cc0000;
}
